@model WebApplication1.Models.Oblast

@{
    ViewBag.Title = "Области";
}

<h2>Удалить?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NmOblast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmOblast)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
